{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["@babel/plugin-transform-react-jsx", {
        "pragma": "miniReact.createElement",
        "pragmaFrag": "miniReact.Fragment"
      }]
    ]
  }